.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    /* border: none; */
    border-width: 1px;
    border-color: black;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1rem;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #00cc8f;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panelContent {
    width: 90%;
    margin: auto;
    background-color: white;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.dropDowns {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

.panel p, b{
    font-size: 0.9rem;
    /* background-color: #80ffd9; */
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 1px;
}

.panel b {
    font-size: 1rem;
}